/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
/web/media/
/node_modules
/src/AppBundle/Resources/public/js/libs.min.js
/src/AppBundle/Resources/public/css/
/src/AppBundle/Resources/public/vendor/
/web/assetic/
/web/css/
/web/js/
