{% extends '@BreadContent/layout.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    <div ng-controller="CartCtrl" ng-cloak>
        <div class="load" ng-show="load || technicalLoad"></div>
        <div class="load-space-block" ng-hide="!load"></div>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Корзина</h1>
                    </div>
                </div>

                <div class="row" ng-if="!cartList.length">
                    <div class="col-md-12 field-bottom-20">
                        <p class="text text_orange">Корзина пуста</p>
                        <a href="{{ path('product') }}" class="text brown-dark">выбрать товары</a>
                    </div>
                </div>

                <div class="cart-table" ng-if="cartList.length">
                    <div class="cart-table-caption">
                        <div class="row">
                            <div class="cart-table-caption-row clearfix">
                                <div class="col-md-4">
                                    <p class="text text_orange cart-table-caption-row__text">Товар</p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text text_orange cart-table-caption-row__text cart-table-caption-row__text_center">Цена, <i class="fa fa-rouble brown-dark"></i></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="text text_orange cart-table-caption-row__text cart-table-caption-row__text_center">Количество, <span class="brown-dark">(шт\кг)</span></p>
                                </div>
                                <div class="col-md-2">
                                    <p class="text text_orange cart-table-caption-row__text cart-table-caption-row__text_center">Стоимость, <i class="fa fa-rouble brown-dark"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-table-rows">
                        <cart-item ng-repeat="cartItem in cartList" source="cartItem"></cart-item>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text cart-table-total">Итого товаров <span class="text_orange">[[ cart.length ]]</span> на сумму <span class="text_orange">[[ cartSum ]] <i class="fa fa-rouble"></i></span></div>
                    </div>
                </div>
            </div>
        </section>
        <section ng-if="cartList.length">
            <div class="container">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <div class="row">
                        <form action="#" method="post" class="form-cart">
                            <label for="cart-name" class="required">ФИО/Название компании</label>
                            <input id="cart-name" name="cart-name" type="text" class="field-text field-bottom-10">
                            <label for="cart-phone" class="required">Телефон</label>
                            <input id="cart-phone" name="cart-phone" type="text" class="field-text field-bottom-10">
                            <label for="cart-email">Email</label>
                            <input id="cart-email" name="cart-email" type="text" class="field-text field-bottom-10">
                            <label for="cart-date">Предпочитаемая дата получения заказа</label>
                            <input id="cart-date" name="cart-date" type="text" class="field-text field-bottom-20">
                            <!--тип доставки-->
                            <button type="submit" class="button">Оформить заказ</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}