<div class="filter" ng-cloak ng-if="!load">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="select-block field-bottom-10">
                <ui-select
                    ng-model="storage.filter.category"
                    items="storage.filterData.category"
                    track-by="Id"
                    show-by="Title"
                ></ui-select>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="select-block field-bottom-10">
                <ui-select
                    ng-model="storage.filter.flour"
                    items="storage.filterData.flour"
                    track-by="Id"
                    show-by="Title"
                ></ui-select>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <button class="button button_filter" ng-click="showAdditionalFilter = !showAdditionalFilter">
                <span ng-show="!showAdditionalFilter">Все фильтры</span>
                <span ng-show="showAdditionalFilter">Cкрыть фильтры</span>
            </button>
        </div>
    </div>
    <div class="additional-filter">
        <div class="row">
            <div class="col-md-8">
                <div class="field-top-10 field-bottom-10">
                    <rzslider
                        class="custom-slider"
                        rz-slider-model="storage.filter.minPrice"
                        rz-slider-high="storage.filter.maxPrice"
                        rz-slider-options="storage.priceSliderOptions"
                    ></rzslider>
                </div>
            </div>
            <div class="col-md-4" ng-show="showAdditionalFilter">
                <div class="select-block field-top-20 field-bottom-10">
                    <ui-select
                        ng-model="storage.filter.unit"
                        items="storage.filterData.unit"
                        track-by="Id"
                        show-by="Title"
                    ></ui-select>
                </div>
            </div>
        </div>
        <div class="row" ng-show="showAdditionalFilter">
            <div class="col-md-4 col-sm-4">
                <div class="field-bottom-10">
                    <input
                        type="checkbox"
                        id="filter-new"
                        title="новинки"
                        checkbox
                        ng-model="storage.filter.isNew"
                        ng-disabled="storage.filter.isPopulation"
                    />
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="field-bottom-10">
                    <input
                        type="checkbox"
                        id="filter-population"
                        title="популярные"
                        checkbox
                        ng-model="storage.filter.isPopulation"
                        ng-disabled="storage.filter.isNew"
                    />
                </div>
            </div>
            <div class="col-md-4">
                <span class="sort__text" ng-click="storage.sort.price = storage.sort.price == 'desc' ? 'asc' : 'desc'">цена
                    <span class="sort__text_orange">
                        <i class="fa" ng-class="{'fa-arrow-down': storage.sort.price == 'asc' || !storage.sort.price, 'fa-arrow-up': storage.sort.price == 'desc'}"></i>
                    </span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 field-top-10">
                <span class="text text_orange text_size-20">Всего: <span class="text">[[ storage.filteredData.length ]]</span></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="filter__reset" ng-click="storage.reset()">
                    <i class="fa fa-undo"></i> Сбросить фильтр
                </span>
            </div>
        </div>
    </div>
</div>