{% extends '@BreadContent/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <section ng-controller="ProductCtrl" ng-cloak>
        <div class="load" ng-show="load || technicalLoad"></div>
        <div class="load-space-block" ng-hide="!load"></div>
        <div class="container">
            <div class="col-md-12" ng-show="!load">
                <div class="row">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="select-block field-bottom-10">
                        <ui-select
                                ng-model="storage.filter.category"
                                items="storage.filterData.category"
                                track-by="Id"
                                show-by="Title"
                        ></ui-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="select-block field-bottom-10">
                        <ui-select
                                ng-model="storage.filter.unit"
                                items="storage.filterData.unit"
                                track-by="Id"
                                show-by="Title"
                        ></ui-select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="select-block field-bottom-10">
                        <ui-select
                                ng-model="storage.filter.flour"
                                items="storage.filterData.flour"
                                track-by="Id"
                                show-by="Title"
                        ></ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="field-bottom-10">
                        <rzslider
                                class="custom-slider"
                                rz-slider-model="storage.filter.minPrice"
                                rz-slider-high="storage.filter.maxPrice"
                                rz-slider-options="storage.priceSliderOptions"
                        ></rzslider>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="field-bottom-10">
                        <input
                            type="checkbox"
                            id="filter-new"
                            title="новинки"
                            checkbox
                            ng-model="storage.filter.isNew"
                            ng-disabled="storage.filter.isPopulation"
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="field-bottom-10">
                        <input
                            type="checkbox"
                            id="filter-population"
                            title="популярные"
                            checkbox
                            ng-model="storage.filter.isPopulation"
                            ng-disabled="storage.filter.isNew"
                        />
                    </div>
                </div>
                {#<div class="col-md-4">
                    <input
                        type="checkbox"
                        id="sort-price"
                        title="цена"
                        checkbox
                        ng-model="storage.sort.price"
                        ng-true-value="'asc'" ng-false-value="'desc'"
                    />
                </div>#}{#сортировка#}
            </div>

            <div class="row" ng-show="storage.filteredData.length">
                <product ng-repeat="product in storage.filteredData" source="product"></product>
            </div>
            <div class="row" ng-if="!load && !storage.filteredData.length && !dataLoadError">
                <div class="col-md-12">
                    <p>Список продукции пуст</p>
                </div>
            </div>
            <div class="row" ng-if="dataLoadError">
                <div class="col-md-12">
                    <p class="load-error load-error_14px">Во время загрузки данных возникли ошибки</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}