{% extends '@BreadContent/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <section ng-controller="ProductCtrl" ng-cloak>
        <div class="load" ng-show="load || technicalLoad"></div>
        <div class="load-space-block" ng-hide="!load"></div>
        <div class="container">
            <div class="col-md-12" ng-show="!load">
                <div class="row">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="products-filter">
                        <select name="" id="" ng-model="filterValue.category">
                            <option ng-repeat="item in filterStorage.filterData.category" value="[[item.Id]]">[[item.Title]]</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <select name="" id="" ng-model="filterValue.unit">
                        <option ng-repeat="item in filterStorage.filterData.unit" value="[[item.Id]]">[[item.Title]]</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="" id="" ng-model="filterValue.flour">
                        <option ng-repeat="item in filterStorage.filterData.flour" value="[[item.Id]]">[[item.Title]]</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <rzslider
                            class="custom-slider"
                            rz-slider-model="filterStorage.filterData.minPrice"
                            rz-slider-high="filterStorage.filterData.maxPrice"
                            rz-slider-options="priceSliderOptions"
                    ></rzslider>
                </div>
            </div>
            <div class="row" ng-show="filterStorage.filteredData.length">
                <product ng-repeat="product in filterStorage.filteredData" source="product"></product>
            </div>
            <div class="row" ng-if="!load && !filterStorage.filteredData.length && !dataLoadError">
                <div class="col-md-12">
                    <p>Список продукции пуст</p>
                </div>
            </div>
            <div class="row" ng-if="dataLoadError">
                <div class="col-md-12">
                    <p class="load-error load-error_14px">Во время загрузки данных возникли ошибки</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}