{% extends '@BreadContent/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <section ng-controller="AboutCtrl" ng-cloak>
        <div class="load" ng-show="load || technicalLoad"></div>
        <div class="load-space-block" ng-hide="!load"></div>
        <div class="container">
            <div class="row">
                <div class="about clearfix">
                    <div class="col-md-4 col-sm-4">
                        <div class="about-info">
                            <h2 class="about-caption">Контакты</h2>
                            <p class="text orange about-info__phone">[[ company.getPhone() ]]</p>
                            <p class="text orange about-info__phone" ng-if="company.getEmail()">[[ company.getEmail() ]]</p>
                            <div class="about-address">
                                <h3>Наш адрес</h3>
                                <p class="brown-light">[[ company.getAddress() ]]</p>
                            </div>
                            <div class="about-info-work-time" ng-if="company.getWorkingDays() && company.getWorkingTime() || company.getWeekend()">
                                <h3>Режим работы</h3>
                                    <div class="row" ng-if="company.getWorkingDays() && company.getWorkingTime()">
                                        <div class="col-md-5 col-sm-5 col-xs-5">
                                            <span class="text">[[ company.getWorkingDays() ]]</span>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <span class="text orange">[[ company.getWorkingTime() ]]</span>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="company.getWeekend()">
                                        <div class="col-md-5 col-sm-5 col-xs-5">
                                            <span class="text">выходные:</span>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <span class="text orange">[[ company.getWeekend() ]]</span>
                                        </div>
                                    </div>
                            </div>
                            <div id="_payment" class="about-payment" ng-if="company.getPayment()">
                                <h3>Оплата</h3>
                                <span class="brown-light" ng-bind-html="company.getPayment()"></span>
                            </div>
                            <div id="_delivery" class="about-delivery" ng-if="company.getDelivery()">
                                <h3>Доставка</h3>
                                <span class="brown-light" ng-bind-html="company.getDelivery()"></span>
                            </div>
                            <div class="about-feedback-form">
                                <button class="button" ng-click="openFeedbackLayer('{{ path('layer', {name: 'feedback'}) }}')">Обратная связь</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <div id="about-map-block" class="about-map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}