{% extends '@BreadContent/Layer/base.html.twig' %}

{% block title %}Ошибка{% endblock %}

{% block content %}
    <p class="load-error text_center">Во время отправки данных возникли ошибки.</p>
{% endblock %}