{% extends '@BreadContent/Layer/base.html.twig' %}

{% block title %}Карта{% endblock %}

{% block content %}
    <div ng-controller="MapCtrl">
        <div id="layer-map-block" class="layer-map layer-map_in-layer"></div>
    </div>
{% endblock %}