{% extends '@BreadContent/Layer/base.html.twig' %}

{% block title %}Заявка успешно отправлена{% endblock %}

{% block content %}
    <p class="text_center">Спасибо за заявку. Наши специалисты свяжутся с Вами в ближайшее время.</p>
{% endblock %}