<div>
    <div style="margin: 0 auto; max-width: 600px; padding: 0;">
        <div style="background-color: #1d0e11; height: 50px; line-height: 50px;">
            <p style="text-align: center; color: #ff9b21; font-size: 24px;">Быньговское потребительское общество</p>
        </div>
        <div style="overflow: hidden;">
            <div style="float: left; width: 60%">
                <p style="text-align: center; font-size: 20px; font-weight: bold;">{% block caption %}{% endblock %}</p>
                {% block content %}{% endblock %}
            </div>
            <div style="float: left; background-color: #ff9b21; width: 40%;">
                <p style="color: #1d0e11; text-align: center; margin: 10px 0; font-size: 20px; font-weight: bold;">Клиент</p>
                <p style="background-color: #a46c49; font-size: 18px; font-weight: bold; padding-left: 10px;">ФИО</p>
                <p style="margin-left: 10px; color: #1d0e11;">{% block name %}{% endblock %}</p>
                <p style="background-color: #a46c49; font-size: 18px; font-weight: bold; padding-left: 10px;">Телефон</p>
                <p style="margin-left: 10px; color: #1d0e11;">{% block phone %}{% endblock %}</p>
                <p style="background-color: #a46c49; font-size: 18px; font-weight: bold; padding-left: 10px;">E-mail</p>
                <p style="margin-left: 10px; color: #1d0e11;">{% block email %}{% endblock %}</p>
            </div>
        </div>
        <div style="height: 50px; background-color: #1d0e11;"></div>
    </div>
</div>