{% extends '@BreadContent/Mail/base.html.twig' %}

{% block caption %}Заявка "Обратная связь"{% endblock %}

{% block content %}
    {% if request.data.Comment %}
        <p style="font-weight: bold;">Пользователь оставил комментарий:</p>
        <p>{{ request.data.Comment }}</p>
    {% endif %}
{% endblock %}

{% block name %}{{ request.client.name }}{% endblock %}
{% block phone %}{{ request.client.phone }}{% endblock %}
{% block email %}{{ request.client.email }}{% endblock %}