{% extends '@BreadContent/layout.html.twig' %}

{% block content %}
    <section ng-controller="SlideCtrl" ng-cloak>
        <div class="loader" ng-show="slideLoad"></div>
        <div class="container" ng-show="slides.length">
            <div class="col-md-12">
                <div class="row">
                    <div class="slide-container">
                        <div class="owl-carousel owl-theme">
                            <slide ng-repeat="slide in slides" source="slide"></slide>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section ng-controller="PopulationProductCtrl" ng-cloak>
        <div class="loader" ng-show="productLoad"></div>
        <div class="container" ng-show="products.length">
            <div class="col-md-12">
                <div class="row">
                    <h1>Популярная продукция</h1>
                </div>
            </div>
            <div class="row">
                <product ng-repeat="product in products" source="product"></product>
            </div>
        </div>
        <div class="container" ng-if="populationProductsLoadError">
            <div class="row">
                <div class="col-md-12">
                    <p class="load-error load-error_14px">Во время загрузки данных возникли ошибки</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}