{% extends '@BreadContent/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div ng-controller="HomepageCtrl" ng-cloak>
        <div class="load" ng-show="load"></div>
        <div class="load-space-block" ng-hide="!load"></div>
        <section>
            <div class="container" ng-show="slides.length">
                <div class="col-md-12">
                    <div class="row">
                        <div class="slide-container">
                            <div class="owl-carousel owl-theme">
                                <slide ng-repeat="slide in slides" source="slide"></slide>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container" ng-show="products.length">
                <div class="row">
                    <product ng-repeat="product in products"></product>
                </div>
            </div>
            <div class="container" ng-if="!load && dataLoadError">
                <div class="row">
                    <div class="col-md-12">
                        <p class="load-error load-error_14px">Во время загрузки данных возникли ошибки</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}