{% extends '@BreadContent/AngularTemplates/base.html.twig' %}

{% block templateId %}declaration-directive.html{% endblock %}

{% block templateContent %}
    <div class="declaration">
        <div class="col-md-6 col-sm-6">
            <div class="declaration-item">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p class="declaration-item__title">[[ declaration.getTitle() ]]</p>
                    </div>
                </div>
                <div class="row" ng-if="declaration.getDescription()">
                    <div class="col-md-12 col-sm-12">
                        <span class="declaration__description">описание
                            <i class="fa fa-tag declaration__description-icon"></i>
                            <div class="hint hint-declaration">
                                <p class="hint-declaration__text" ng-bind-html="declaration.getDescription()"></p>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 declaration-item__img-block">
                        <a ng-href="[[ declaration.getImage().getPath() ]]" data-fancybox>
                            <img
                                data-src="[[ declaration.getImage().getCropPath() ]]"
                                alt="[[ declaration.getTitle() ]]"
                                title="[[ declaration.getTitle() ]]"
                                class="declaration-item__img"
                                ng-class="{'declaration-item__load': imageLoad}"
                                image-loader
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}