{% extends '@BreadContent/AngularTemplates/base.html.twig' %}

{% block templateId %}new-directive.html{% endblock %}

{% block templateContent %}
    <div class="new">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="{{ path('news') }}/[[ new.getId() ]]" class="new-item">
                <div class="overlay">
                    <div class="overlay__arrow">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 new-item__img-block">
                        <img
                            ng-if="new.getCountImages()"
                            data-src="[[ new.getImages()[0].getCropPath() ]]"
                            alt="[[ new.getTitle() ]]"
                            title="[[ new.getTitle() ]]"
                            class="new-item__img"
                            ng-class="{'new-item__load': imageLoad}"
                            image-loader
                        >
                        <img
                            ng-if="!new.getCountImages()"
                            src="{{ asset('bundles/breadcontent/images/new_stub.png') }}"
                            alt="[[ new.getTitle() ]]"
                            title="[[ new.getTitle() ]]"
                            class="new-item__img"
                        >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p class="new-item__title">[[ new.getTitle() ]]</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="new-item__count-photo" ng-show="new.getCountImages()">
                            <i class="fa fa-photo"></i> [[ new.getCountImages() ]]
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="new-item__date"><i class="fa fa-paperclip"></i> [[ new.getCreatedAtDate() ]]</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}