{% extends '@BreadContent/layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <section ng-controller="PriceListCtrl" ng-cloak>
        <div class="load" ng-show="load"></div>
        <div class="load-space-block" ng-hide="!load"></div>
        <div class="container">
            <div class="col-md-12" ng-show="!load">
                <div class="row">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
            {% include '@BreadContent/Product/filter.html.twig' %}
            <div class="row">
                <div class="col-md-12" ng-show="storage.filteredData.length">
                    <div class="price-list">
                        <div class="order-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="text excel">Скачать Excel-файл</a>
                                    <br>
                                    <a id="price-list-pdf" href="{{ path('price-list-pdf') }}"  ng-click="loadPdf($event)" class="text pdf">Скачать PDF-файл</a>
                                    <table class="order-item__table">
                                        <tr class="order-item__table-caption order-item__table-caption_bold">
                                            <th>Товар</th>
                                            <th>Категория</th>
                                            <th>Цена, <i class="fa fa-rouble"></i></th>
                                        </tr>
                                        <tr class="order-item__table-text" ng-repeat="product in storage.filteredData">
                                            <td>[[ product.getTitle() ]]</td>
                                            <td>[[ product.getCategory().getTitle() ]]</td>
                                            <td>[[ product.getPrice() | price ]]</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!load && !storage.filteredData.length && !dataLoadError">
                    <div class="col-md-12">
                        <p>Прайс-лист пуст</p>
                    </div>
                </div>
                <div ng-if="!load && dataLoadError">
                    <div class="col-md-12">
                        <p class="load-error load-error_14px">Во время загрузки данных возникли ошибки</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}